.footer {
  width: calc(100% - 400px);
  margin: 0 auto;
  min-height: 50px;
  color: #b8b4b4;
  display: flex;
  align-items: center;
  border-top: 1px solid #A5A5A5;
}

@media (max-width: 980px) {
  .footer {
    width: 90%;
  }
}